name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    name: Build and run tests
    runs-on: ubuntu-latest

    env:
      DEVELOCITY_URL: https://develocity-ext-github.grdev.net

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
        with:
          node-version-file: .node-version
          cache: npm

      - name: Generate short-lived access token
        id: generate-token
        env:
          KEY_FOR_TOKEN: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
        run: |
          DV_TOKEN=$(curl -X POST "https://develocity-ext-github.grdev.net/api/auth/token?permissions=publishScan&projectIds=cavendish-github-actions&expiresInHours=1" -H "Authorization: Bearer $KEY_FOR_TOKEN")
          echo "::add-mask::$DV_TOKEN"
          echo "DEVELOCITY_ACCESS_KEY=develocity-ext-github.grdev.net=$DV_TOKEN" >> $GITHUB_ENV

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        env:
          NODE_OPTIONS: '-r @gradle-tech/develocity-agent/preload'
        run: npm run format:check

      - name: Lint
        id: npm-lint
        env:
          NODE_OPTIONS: '-r @gradle-tech/develocity-agent/preload'
        run: npm run lint

      - name: Test
        id: npm-test
        env:
          NODE_OPTIONS: '-r @gradle-tech/develocity-agent/preload'
        run: npm run test

      - name: Package
        id: npm-package
        env:
          NODE_OPTIONS: '-r @gradle-tech/develocity-agent/preload'
        run: npm run package
